nav{
    background-color: #121212;
}
nav .a:hover{
    color: #fff;
}

.bootstrap-icons{
   border-radius: 50px;
   border-color: #fff;
}
.bootstrap-icons-2{
    border-radius: 10px;
    border-color: #fff;  
 }
 


