nav{
    background-color: #121212;
}
nav .a:hover{
    color: #fff;
}

.bi.bi-star{
   color: blue;
}
.bi-ticket-fill{
    color: rgb(61, 61, 232);
    transform: rotate(60deg);   
}
.rotate-ticket{
    display: inline-block;
    transform: rotate(120deg);
    margin-left: 60%;
}

.bootstrap-icons{
   border-radius: 50px;
   border-color: #fff;
}
.bootstrap-icons-2{
    border-radius: 10px;
    border-color: #fff;  
 }
 .boxoffice{
    font-size: 18px;
 }


