.bi-ticket-fill{
    color: rgb(61, 61, 232);
    transform: rotate(60deg);   
}
.rotate-ticket{
    display: inline-block;
    transform: rotate(120deg);
    /* margin-left: 60%; */
}
.boxoffice{
    font-size: 18px;
 }
 .boxoffice-entry{
    width: 100%;
 }